{% extends 'index.html' %}
{% load staticfiles %}
    {% block head %}
        <title>Write blog</title>
        <script src='http://cdn.tinymce.com/4/tinymce.min.js'></script>
        {# <script src='blog/script/tinymce/tinymce.min.js'></script> #}

        <script>
          tinymce.init({
            forced_root_block : "",
            selector: 'textarea',  // change this value according to your HTML
            toolbar: 'undo redo | styleselect | bold italic | link image',
            width: 900,
            height: 300,

          });
         </script>
    {% endblock %}

    {% block body %}
        <h1> Hello, {{ r.txt_name }}</h1>
        <form action="{{ post }}" method="post">{% csrf_token %}
            Title: <input type="text" name="title" size="100" /><br />
            <textarea name="txt_area" id="mytextarea"></textarea>
            <input type="submit" value="save!">
            <input type="hidden" name="author" value="{{ r.txt_name }}" />
        </form>

        <img src="{% static 'blog/img/polar_8.jpg' %}" alt="beauty" />
    {% endblock %}